<a href="https://colab.research.google.com/github/EbadShahzad480/EbadShahzad480/blob/main/FYP_Data_Pre_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# New Section

In [3]:
data=pd.read_csv("/content/duplicated values.csv")

In [4]:
data.head()

        Player       Span  Mat Inns NO Runs  ...      SR 100 50  0  4s  6s
0     Ali Khan  2021-2021    3    -  -    -  ...       -   -  -  -   -   -
1    Amad Butt  2017-2020   16    9  2   60  ...  105.26   0  0  2   3   4
2   Babar Azam  2016-2016    2    2  0   15  ...   57.69   0  0  1   1   0
3   CS Delport  2019-2019   12   12  1  355  ...  133.96   1  1  3  35  13
4  Fawad Ahmed  2021-2021    5    2  2    4  ...   66.66   0  0  0   0   0

[5 rows x 15 columns]

In [15]:
df=data.loc[data['Player']=="Babar Azam"]

In [16]:
for i in df:
  print((i))

Player
Span
Mat
Inns
NO
Runs
HS
Ave
BF
SR
100
50
0
4s
6s

In [17]:
df

        Player       Span  Mat Inns NO  Runs  ...      SR 100  50  0   4s  6s
2   Babar Azam  2016-2016    2    2  0    15  ...   57.69   0   0  1    1   0
30  Babar Azam  2017-2021   56   54  8  2055  ...  122.54   0  21  5  218  35

[2 rows x 15 columns]

In [18]:
df.groupby(['Player'])['Mat','Inns','NO','Runs','100','50','0','4s','6s'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

            Mat
Player
Babar Azam   58

In [20]:
df2=df[['Mat','Inns','NO','Runs','100','50','0','4s','6s']].apply(pd.to_numeric)

In [55]:
df3= df.drop(columns=['Mat','Inns','NO','Runs','100','50','0','4s','6s','Ave','SR','Span'])
df4=df3.join(df2)

In [56]:
df4

        Player   HS    BF  Mat  Inns  NO  Runs  100  50  0   4s  6s
2   Babar Azam   15    26    2     2   0    15    0   0  1    1   0
30  Babar Azam  90*  1677   56    54   8  2055    0  21  5  218  35

In [57]:
df5 = df4.groupby(['Player'])[['Mat','Inns','NO','Runs','100','50','0','4s','6s' ]].apply(sum)
print(df5)

            Mat  Inns  NO  Runs  100  50  0   4s  6s
Player
Babar Azam   58    56   8  2070    0  21  6  219  35

In [58]:
for i in df['HS']:
  print(i)

15
90*

In [59]:
df

        Player       Span  Mat Inns NO  Runs  ...      SR 100  50  0   4s  6s
2   Babar Azam  2016-2016    2    2  0    15  ...   57.69   0   0  1    1   0
30  Babar Azam  2017-2021   56   54  8  2055  ...  122.54   0  21  5  218  35

[2 rows x 15 columns]

In [60]:
df5['HS'] = df.max()['HS']
print(df5)

            Mat  Inns  NO  Runs  100  50  0   4s  6s   HS
Player
Babar Azam   58    56   8  2070    0  21  6  219  35  90*